.fixed-header {
    position: fixed;
    top: 0;
    left: 0;
    z-index: 2;
    width: 100% !important;
}
a {
    text-decoration: none;
    color: white;
}
 
a:hover, a:active{
    color: lightgray;
}
 
.navigation-items{
    list-style-type: none;
    padding: 0;
    margin: 0;
}
 
mat-toolbar{
    /* border-radius: 3px; */
    border-radius: 0px;
    height: 50px;
}
 
@media(max-width: 959px){
    mat-toolbar{
        border-radius: 0px;
    }
}