<mat-nav-list style="margin-top: 80px;">
    <a mat-list-item routerLink="/home" (click)="onSidenavClose()">
        <mat-icon>home</mat-icon> <span class="nav-caption">Home</span>
    </a>
    <a mat-list-item routerLink="/pick-location" (click)="onSidenavClose()">
      <mat-icon>home</mat-icon> <span class="nav-caption">Pick Location</span>
  </a>
  <a mat-list-item routerLink="/json-marker" (click)="onSidenavClose()">
    <mat-icon>home</mat-icon> <span class="nav-caption">Json Marker</span>
</a>
<a mat-list-item routerLink="/file-upload" (click)="onSidenavClose()">
  <mat-icon>home</mat-icon> <span class="nav-caption">File Upload</span>
</a>
    <a mat-list-item routerLink="/admin/fake-input" (click)="onSidenavClose()">
        <mat-icon>assignment_ind</mat-icon> <span class="nav-caption">Fake Input</span>   
    </a>
  
  </mat-nav-list>

  <!-- <mat-list-item [matMenuTriggerFor]="menu">
    <mat-icon>unfold_more</mat-icon>
    <a matline>Example</a>
</mat-list-item> -->
<mat-menu #menu="matMenu">
  <button mat-menu-item (click)="onSidenavClose()">View profile</button>
  <button mat-menu-item (click)="onSidenavClose()">Add contact</button>
</mat-menu>