// :host {

//     .content {

//         form {
//             width: 100%;
//             // max-width: 800px !important;
//         }

//         .form-errors-model {
//             flex: 1;

//             code {
//                 background: none !important;
//             }
//         }

//         .horizontal-stepper-wrapper,
//         .vertical-stepper-wrapper {
//             max-width: 800px;
//         }
//     }
// }




// .example-button-row button,
// .example-button-row a {
//   margin-right: 8px;
// }

// .menu {
//   margin-right: auto;
// }
// mat-sidenav-container {
//   position: absolute;
//   top: 64px;
//   left: 0;
//   right: 0;
//   bottom: 0;
  
  
// }
// h2 {
//   text-align: center;
//   margin-top: 50px;
// }

// .example-card {
//   max-width: 700px;
// }

// /* .example-header-image {
//   background-image: url('../assets/map.png');
//   background-size: cover;
// } */

// .fixed-header {
//   top: 0;
//   position: fixed;
//   z-index:999;

// }


// .example-sidenav-container {
//   /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
//      causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
//   flex: 1;
// }
// .mat-drawer-backdrop {
//   position: fixed !important;
// }
// .example-form {
//   /* min-width: 150px;
//   max-width: 500px; */
//   width: 100%;
// }

// .example-full-width {
//   width: 100%;
// }


.layout-wrapper{
    height: 100%;
}
 
.flex-wrapper{
    height: 100%;
}