/* You can add global styles to this file, and also import other style files */
@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import "~leaflet/dist/leaflet.css";

html, body { 
  margin: 0;
  height: 100%;
  width: 100%;
}

/* body {
    margin: 0;
    font-family: "Segoe UI", Roboto, sans-serif;
  }
  .mat-drawer-backdrop.mat-drawer-shown {
    display:none;
} */


 
 .map-frame {
   border: 2px solid black;
   height: 100%;
 }
 
 #map {
   height: 100%;
 }
