
<style>
    .map-container {
    /* position: absolute; */
    height: 400px;
    margin-left: 230px;
    width: calc(80% - 0px) !important;
    }
    .adjust-textbox{
        position: absolute; right:150px;
    }
    .adjust-row{
        padding-top: 10px; padding-right: 25px; position: absolute; right: 0;
    }
    #forms{
        height: 550px;
    }
    .mb-24{
        height: 100%;
    }
    .navmenu a:hover{
        text-decoration: none !important
    }
    .mat-linea :hover{
        text-decoration: none !important
    }
    .mat-card{
        background-color: gainsboro;
    }
    a { 
                text-decoration:none; 
                color:green; 
      } 
    .secondary-text{
        cursor: pointer;
    }

  </style>

<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
     <!-- CONTENT -->
     <div class="content p-24" style="height: 100%;">

        <div class="mb-24" fxLayout="column" fxLayoutAlign="start" 
                style="height: 100%;" fxLayout.gt-md="row">

            <!-- REACTIVE FORM EXAMPLE -->
            <form style="background-color: gainsboro;" [formGroup]="form"
                    class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" 
                    fxLayoutAlign="start" style="height: 100%;"
                  fxFlex="1 0 auto" name="form">

                  <!-- <div fxLayout="row"  style="height: 250px; width: 250px; border:1px solid black;" >
                    <mat-card class="example-card" style="height: 250px; width: 250px;">
                        <img mat-card-image style="height: 250px; width: 250px; padding-top: 15px; padding-left: 15px;"
                            src="" 
                            alt="Photo">
                        <mat-card-actions>
                          <button mat-button>LIKE</button>
                          <button mat-button>SHARE</button>
                        </mat-card-actions>
                      </mat-card>
                  </div> -->
                  <!-- <div>
                    <pre>{{geoData | json}}</pre>
                  </div>   -->
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <!-- <mat-nav-list fxFlex="15" style="height: 0px;">
                        <pre style="padding-left: 10px; padding-top: 10px;padding-bottom: 10px; margin-left:10px;margin-top: 10px;margin-bottom: 10px; border: 1px solid black; background-color: white; width: 350px;">{{geoData | json}}</pre>
                    </mat-nav-list> -->


                    <mat-nav-list fxFlex="15" style="height: 0px;">
                        <a class="navmenu" id="home" (click)="goLocation(task.location, task.name)" 
                            mat-list-item routerLinkActive="active" 
                            *ngFor="let task of tasks">
                            <h3 class="navmenu" matLine>{{task.name}}</h3>
                        </a>
                    </mat-nav-list>
                    <mat-nav-list fxFlex="70">
                        <div class="map-container">
                            <div class="map-frame">
                                <div id="map"></div>
                            </div>
                        </div>
                    </mat-nav-list>
                </div>

                <div fxLayout="row" style="position: absolute; right:150px;"
                         fxLayoutAlign="start center" 
                         fxFlex="0 0 auto">

                    
                    
                   <mat-form-field fxFlex="33">
                        <mat-label>Task</mat-label>
                        <input matInput formControlName="taskName" required #tName>
                        <mat-icon matSuffix class="secondary-text">location_city</mat-icon>
                        <mat-error>Task is <strong>required</strong></mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="33">
                        <mat-label>Location</mat-label>
                        <input matInput [(ngModel)]="coordinate" formControlName="locationPoint" required #tLocation>
                        <mat-icon matSuffix class="secondary-text">account_circle</mat-icon>
                        <mat-error>Location is <strong>required</strong></mat-error>
                    </mat-form-field>

                    <mat-form-field fxFlex="33">
                        <mat-label>Details</mat-label>
                        <input matInput #tDetails>
                        <mat-icon matSuffix class="secondary-text">location_city</mat-icon>
                    </mat-form-field>
                </div>
                <div mat-dialog-actions class="adjust-row"
                        fxLayout="row"
                        fxLayoutAlign="end center">
                    <button mat-raised-button color="primary" (click)="addTask(tName, tDetails, tLocation)">Add Location</button>
                </div>

            </form>

        </div>

    </div>
    <!-- / CONTENT -->

</div>