
<style>
    .map-container {
    /* position: absolute; */
    height: 400px;
    margin-left: 380px;
    width: calc(56% - 0px) !important;
    }
    .adjust-textbox{
        position: absolute; right:150px;
    }
    .adjust-row{
        padding-top: 10px; padding-right: 25px; position: absolute; right: 0;
    }
    #forms{
        height: 550px;
    }
    .mb-24{
        height: 100%;
    }
    .navmenu a:hover{
        text-decoration: none !important
    }
    .mat-linea :hover{
        text-decoration: none !important
    }
    .mat-card{
        background-color: gainsboro;
    }
    a { 
                text-decoration:none; 
                color:green; 
      } 
    .secondary-text{
        cursor: pointer;
    }

  </style>

<div id="forms" class="page-layout simple fullwidth" fxLayout="column">
     <!-- CONTENT -->
     <div class="content p-24" style="height: 100%;">

        <div class="mb-24" fxLayout="column" fxLayoutAlign="start" 
                style="height: 100%;" fxLayout.gt-md="row">

            <!-- REACTIVE FORM EXAMPLE -->
            <form style="background-color: gainsboro;" [formGroup]="form"
                    class="mat-card mat-elevation-z4 p-24 mr-24" fxLayout="column" 
                    fxLayoutAlign="start" style="height: 100%;"
                  fxFlex="1 0 auto" name="form">

                  
                <div fxLayout="row" fxLayoutAlign="start center" fxFlex="1 0 auto">
                    <mat-nav-list fxFlex="15" style="height: 0px;">
                        <pre style="padding-left: 10px; padding-top: 10px;padding-bottom: 10px; margin-left:10px;margin-top: 10px;margin-bottom: 10px; border: 1px solid black; background-color: white; width: 350px;">{{geoData | json}}</pre>
                    </mat-nav-list>

                    <mat-nav-list fxFlex="70">
                        <div class="map-container">
                            <div class="map-frame">
                                <div id="map"></div>
                            </div>
                        </div>
                    </mat-nav-list>
                </div>
            </form>

        </div>

    </div>
    <!-- / CONTENT -->

</div>