

<style>
    .secondary-text{
        cursor: pointer;
    }
  
</style>
<mat-card style="height: 500px; margin:5px 50px">    
    <!-- Title of an Card -->    
    <mat-card-title>    
        Angular Material Component
    </mat-card-title>    
    
    <mat-card-content>    
        <form>    
            <table>    
                <tr>    
                    <td>    
                        <mat-form-field class="demo-full-width">    
                            <input matInput placeholder="First Name">    
                        </mat-form-field>    
                    </td>    
                    <td>    
                        <mat-form-field class="demo-full-width">    
                            <input matInput placeholder="Last Name">    
                        </mat-form-field>    
                    </td>    
                </tr>    
                <tr>    
                    <td colspan="2">

                        <mat-form-field fxFlex="33">
                            <mat-label>Upload File</mat-label>
                            <input matInput readonly [value]="fileName">
                            <mat-icon matSuffix class="secondary-text" 
                                        (click)="imgFileInput.click()">folder_open</mat-icon>
                            <input hidden type="file" #imgFileInput (change)="previewImage($event)" />
                        </mat-form-field>


                        <!-- <div class="button-row">
                            <button mat-button color="accent" mat-mini-fab (click)="imgFileInput.click()">
                                <mat-icon>file_upload</mat-icon>
                            </button>
                            <input hidden type="file" #imgFileInput (change)="previewImage($event)" />
                        </div> -->
                    </td>

                    <td colspan="2">
                        
                        <div style="text-align:center; margin-top: 100px; "><mat-card style="margin-top:10px; width: 50%;">  
                            <mat-card-content>  
                                <ul>  
                                    <li *ngFor="let file of files">  
                                        <mat-progress-bar [value]="file.progress"></mat-progress-bar>  
                                        <span id="file-label">  
                                              
                                        </span>  
                                    </li>  
                                </ul>  
                            </mat-card-content>  
                            <mat-card-actions>  
                                <button mat-button color="warn" (click)="onClick()">  
                                    <mat-icon>file_upload</mat-icon>  
                                    Upload  
                                </button>  
                            </mat-card-actions>  
                        </mat-card>
                        <input type="file" #fileUpload id="fileUpload" name="fileUpload" multiple="multiple" accept="image/*" style="display:none;" /></div>
                        
                    </td>
                    
                </tr>    
                <tr>    
                    <td colspan="2">    
                        <!-- <mat-form-field class="demo-full-width">    
                            <input matInput [matDatepicker]="picker" placeholder="Date of birth">    
                            <mat-datepicker-toggle matSuffix [for]="picker"></mat-datepicker-toggle>    
                            <mat-datepicker touchUi="true" #picker></mat-datepicker>    
                        </mat-form-field>     -->
                    </td>    
                </tr>    
                <tr>    
                    <td>    
                        <span>Gender</span><br><br>    
                        <mat-radio-group>    
                            <mat-radio-button value="1">Male</mat-radio-button>    
                            <mat-radio-button value="2">Female</mat-radio-button>    
                        </mat-radio-group>    
                    </td>    
                    <td><br>    
                        <mat-form-field>    
                            <mat-select placeholder="Select Blog">    
                                <mat-option>-- Select Any --</mat-option>    
                                <mat-option value="1">C#Corner</mat-option>    
                                <mat-option value="2">C#Corner</mat-option>    
                                <mat-option value="3">C#Corner</mat-option>    
                            </mat-select>    
                        </mat-form-field>    
                    </td>    
                </tr>    
                <tr>    
                    <td colspan="2">    
                        <mat-form-field class="demo-full-width">    
                            <input matInput placeholder="Email">    
                        </mat-form-field>    
                    </td>    
                </tr>    
                <tr>    
                    <td colspan="2">    
    
                    </td>    
                </tr>    
                <tr>    
                    <td colspan="2" class="content-center">    
                        <button mat-raised-button color="accent">Submit</button>    
                        <button mat-raised-button color="accent">Clear</button>    
                    </td>    
                </tr>    
            </table>    
        </form>    
    </mat-card-content>    
</mat-card> 